@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
/* Styling the header */
header{
    width: 100%;
    display:flex;
    background-color: black;
    opacity: 0.8;
    background: linear-gradient(0.5);
    height: 10vh;
    align-items: center;
    padding: 5px;
    position: sticky;top: 0px;
}
nav{
    display: flex;
    padding: 1vh;
    width: 100%;
    align-items: center;
}
.logo{
    width: 165px;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 10vh;
    background-color:white;
    border-radius: 5px;
}
.logo a{
    color:rebeccapurple;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    font-size: 2rem;
    font-weight:bolder;
    text-decoration: none;
    
}
.search_bar{
    display: flex;
    align-items: center;
    margin: 0vh 1vw 0vh 15vw;
} 
#search{
    width: 30vw;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding:0 5px;
}
.btn{
    background-color: black;
    color:white;
    width:53px;
    padding: 1px 5px;
    border: 1px solid snow;
    border-radius: 5px;
    height: 35px;
    margin-left:2px;
    font-size:small;
    text-align: center;

    
}
.btn:hover{
    background-color: white;
    border:1px solid white;
    color: black;
}
nav ul{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: flex-end;
   
}
nav ul li{
    list-style: none;
    width:7vw;
    padding:0vh 5px;
    box-sizing: border-box;
   
    
    text-align: center  ;
}
li a:hover{
    background-color:  #508ff5;
    color: white;
    width: 5vw;
    transition: 0.1s  ease-in-out;
    padding:3px 7px;
    border:1.5px solid white;
    border-radius: 3px;
}
#active a:active{
    background-color:#508ff5;
}
nav ul li a{
    color:white;
    text-decoration:none;
    font-size: medium;
}