*{
  margin: 0;
  padding: 0;
}
::selection{
  background: rgba(229, 241, 118, 0.3);
}
.container2{
  display: flex;
  max-width: 440px;
  min-height: calc(100vh- 10vh- 7vh);
  justify-content: center;
  align-items: center;
  margin: 1px auto;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background:black;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 25vw;;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color:black;
  box-shadow: inset 0px 0px 2px 2px rgba(23, 24, 26, 0.25);
}
form .row input::placeholder{
  color: grey;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background:black;
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color:#508ff5;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background:black;
  border: 1px solid black;
  cursor: pointer;
}
form .button input:hover{
  background:black;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #508ff5;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}
